body {
    background-image: url(Ordinary_world.jpg);
    background-size: cover;
    height: 1050px;
}
.overlay {
    position: relative;
    width: 215px;
    padding: 20px;
    border-radius: 10px;
    transform: translate(350%, 100%);
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay h1 {
    text-align: center;
    color: white;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #60b0e3;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color:#4d90ba
}
.continue {
    padding: 10px;
    border: none;
    background-color: #60b0e3;
    color: white;
    border-radius: 5px;
}

.continue:hover {
    background-color:#4d90ba
}

.newgame {
        padding: 10px;
    border: none;
    background-color: #60b0e3;
    color: white;
    border-radius: 5px;
}

.newgame:hover {
    background-color:#4d90ba
}
